.searchinput{
    width: 80%;
    height: 40px;
}
.searchheader{
    background-color: rgba(44, 40, 40, 0.911);
    text-align: center;
    padding: 20px;
}
.btnsearch{
    height: 40px;
  
    background-color: grey;
    color: red;
}
.displayposts{
    margin-top: 10%;
}